# specific file formats
*.db

# caches
__pycache__
*.pyc

# folders (venv related)
include
Scripts
Lib

#files
pyvenv.cfg
site.db
mqtt_pub_test_group.py
forms.py
credential.ini
flaskblog\static\sensor_room1.csv
flaskblog\cam\camera.py
flaskblog\cam\haarcascade_frontalface_dataset.xml

#text file
webdevflask_bp.txt
requirements_bp.txt
git-help.txt
db_tutorial.txt
flask_setup.txt

#html
mqtt_automanual.py

#static
!/flaskblog/static/profile_pics/
flaskblog/static/profile_pics/*
!flaskblog/static/profile_pics/default_pp.png